


* {
  font-family: "Source Sans Pro", sans-serif !important;
}


html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  
}


.job-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;  
  padding: 0 20px;   
}